input[type=text] {
  padding:5px;
  border:2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color:#333;
}

input[type=submit] {
  padding:5px 15px;
  background: yellow;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: red;
  margin-top: 2px;
  margin-bottom: 2px;
}

#submit {
  width: 100px;
}

#delete {
  width: 100px;
}

h1, h4 {
  font-family: times;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-size: 2.5em;
  font-stretch: inherit;
  line-height: inherit;
  color: blue;
  text-align: center;
  margin-left:30px;
}

div {
  background: #f4f4f4;
}

#homepage {
  text-align: center;
  list-style: none;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

a {
  text-decoration: none
}